/vendor/
node_modules/
npm-debug.log

public/storage
public/build

storage/*.key
.env
.env.local
.phpunit.result.cache
.git/
.idea/
.vscode/
*.sqlite*
.github/
tests/

Dockerfile.local
docker-compose.yml
LICENSE.md

